<header class="fixed top-6 left-1/2 transform -translate-x-1/2 bg-white bg-opacity-80 backdrop-blur-md py-7 rounded-full shadow-lg flex justify-between items-center w-5/6 z-50 navbar" style="padding-left: 50px; padding-right: 50px;">
    <nav class="flex space-x-6 flex-1 desktop-menu">
        <a href="index.html" class="hover:text-gray-600">Strona główna</a>
        <a href="projects.html" class="hover:text-gray-600">Projekty</a>
        <a href="pricing.html" class="hover:text-gray-600">Oferta</a>
    </nav>
    <div class="logo-container text-center">
        <a href="index.html">
            <img src="images/logo_visual.svg" alt="Logo" class="w-12 mx-auto">
            <img src="images/logo_name.svg" alt="Logo" class="site-name w-12 pt-2 mx-auto">
        </a>
    </div>
    <nav class="flex-1 space-x-6 text-right desktop-menu">
        <a href="about.html" class="hover:text-gray-600">O mnie</a>
        <a href="contact.html" class="hover:text-gray-600">Kontakt</a>
    </nav>
    
    <!-- Mobile Menu Button -->
    <button class="mobile-menu ml-auto" onclick="toggleMenu()">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>
</header>
<div id="menu-dropdown" class="hidden fixed top-16 right-6 bg-white shadow-lg rounded-lg p-4 z-50">
    <a href="index.html" class="block py-2 px-4 hover:bg-gray-200">Strona główna</a>
    <a href="projects.html" class="block py-2 px-4 hover:bg-gray-200">Projekty</a>
    <a href="pricing.html" class="block py-2 px-4 hover:bg-gray-200">Oferta</a>
    <a href="about.html" class="block py-2 px-4 hover:bg-gray-200">O mnie</a>
    <a href="contact.html" class="block py-2 px-4 hover:bg-gray-200">Kontakt</a>
</div>